<% if user_signed_in? %>
    <h1>User Page</h1>
    <p>Email: <%= current_user.email %></p>
    <p>Firstname: <%= current_user.first_name %></p>
    <p>Lastname : <%= current_user.last_name %></p>
    <p>Age : <%= current_user.age %></p>
    <p>Date of Birth: <%= current_user.date_of_birth %></p>
    <p>Gender :
      <% if current_user.is_female == true %>
          <span>Female</span>
      <% else %>
          <span>Male</span>
      <% end %>
    </p>
<% end %>